// base colors
$body-color: rgb(211, 211, 211);
$body-base-color: rgb(185, 185, 185);
$screen-color: rgb(171, 191, 156);
$screen-border-color: rgb(34, 45, 47);
$screen-text-color: rgb(0, 0, 0);
$control-base-color: rgb(0, 0, 0);
$control-color: rgb(46, 46, 42);

// theme colors
$primary-color: rgb(147, 138, 123);
$accent-color: rgb(116, 108, 98);
$logo-color: rgb(255, 255, 255);
$button-color: $control-color;
$sci-button-color: rgb(253, 245, 230);
$sci-border-color: rgb(206, 199, 175);
$numeric-button-color: rgb(35, 33, 54);
$clear-button-color: rgb(225, 75, 31);
